<title>TinyApp</title>


<a href = '/urls'>Home</a>
<% if(!user){ %>
  <a href = '/login'>Login</a>
  <a href = '/register'>Register</a>
  <% } else{ %>
    <%= user['email'] %>
    <form action="/logout/"" method="POST">
      <button>Logout</button>
    </form>
<% } %>

