<title>TinyApp</title>

<form action="/login/"" method="POST">
  <label for="login">Enter a Username:</label>
  <input id="login" type="text" name="login">
  <input type="submit" value="Login">
</form>