<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>
  </head>
  <body>
  <% if(user){ %>
    <h1>You are already logged in!</h1>
  <% } else{ %>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="newlongURL">Login:</label>
      <input id="email" type="email" name="email" placeholder="email">
      <input id="password" type="password" name="password" placeholder="password">
      <input type="submit" value="Submit">
    </form>
  <% } %>

  </body>
</html>
