<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>
  </head>
  <body>
        <!-- Add your EJS code here -->
    <h1>Active URLs</h1>
    <ul>
      <% for(var key in urls) { %>
        <li><%= key + ': ' + urls[key] %></li>
        <li><form action="/urls/<%= key %>/delete" method="POST" >
          <button>Delete</button>
        </form></li>
        <li><a href = "/urls/<%= key %>">Edit</a></li>
      <% } %>
    </ul>
    <li><a href = '/urls/new'>Link to make a new URL</a></li>
  </body>
</html>

