<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>
  </head>
  <body>
        <!-- Add your EJS code here -->
    <h1>Shortened URL and URL</h1>

        <%= shortURL + ': ' + ((urls[shortURL]) || 'Invalid Shortened URL') %>

  </body>
</html>